$yellow: #e8b923;
$golden: linear-gradient(
    300deg,
    hsl(46deg 77% 62%) 0%,
    hsl(46deg 78% 60%) 11%,
    hsl(46deg 78% 58%) 22%,
    hsl(46deg 79% 56%) 33%,
    hsl(46deg 80% 55%) 44%,
    hsl(46deg 81% 53%) 56%,
    hsl(46deg 82% 51%) 67%,
    hsl(46deg 82% 49%) 78%,
    hsl(46deg 83% 47%) 89%,
    hsl(46deg 84% 45%) 100%
);
$deepBlue: linear-gradient(
    125deg,
    hsl(221deg 100% 29%) 0%,
    hsl(225deg 99% 30%) 20%,
    hsl(229deg 97% 30%) 29%,
    hsl(233deg 97% 30%) 36%,
    hsl(236deg 96% 30%) 43%,
    hsl(240deg 95% 30%) 50%,
    hsl(244deg 94% 30%) 57%,
    hsl(248deg 92% 30%) 64%,
    hsl(252deg 92% 30%) 71%,
    hsl(256deg 91% 30%) 80%,
    hsl(260deg 90% 31%) 100%
  );
$red: #c43a1e;
